@charset "utf-8";
html {
  font: 14px "微软雅黑";
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
i,
b,
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
canvas {
  display: block;
  background: #000;
  margin: 0 auto;
}
